<div>
    <h1>New restaurant</h1>
    <label for="newRestaurant.name">Name</label>
    <input type="text" [(ngModel)]="newRestaurant.name">

    <label for="newRestaurant.address">Address</label>
    <select [(ngModel)]="newRestaurant.addressId">
        <option *ngFor="let a of addresses" [ngValue]="a.id">{{a.name}}</option>
    </select>
    <button (click)="onOpenAddAddress()">Add new address</button>
    <div *ngIf="isAddingAddress">
        <input type="text" [(ngModel)]="newAddress.name">
        <button (click)="onCreateAddress()">Add address</button>
    </div>
    

    <label for="newRestaurant.country">Country</label>
    <input type="text" [(ngModel)]="newRestaurant.country">

    <button (click)="onCreateRestaurant()">Create restaurant</button>
</div>

<div>
    <h2>New food</h2>

    <label for="newFood.name">Name</label>
    <input type="text" [(ngModel)]="newFood.name">

    <label for="newFood.cost">Cost</label>
    <input type="number" [(ngModel)]="newFood.cost">

    <button (click)="onCreateFood()">Create new food</button>
</div>

<div>
    <h3>New ingredient</h3>

    <label for="newIngredient.name">Name</label>
    <input type="text" [(ngModel)]="newIngredient.name">

    <label for="newIngredient.amount">Amount</label>
    <input type="text" [(ngModel)]="newIngredient.amount">
    
    <button (click)="onCreateIngredient()">Add ingredient</button>
</div>